<h3>Sestavte si kroj!</h3>

<div class="main-container">
    <!-- První sloupec s galeriemi -->
    <div class="column">
        <app-kroj-galerie class="gallery-container" typ="SUKNE" [soucastiKroje]="soucastiKroje"></app-kroj-galerie>
        <app-kroj-galerie class="gallery-container" typ="FJERTUCH" [soucastiKroje]="soucastiKroje"></app-kroj-galerie>
    </div>

    <!-- Druhý sloupec s centrálním obrázkem -->
    <div class="central-image-container">
        <img src="assets/kroj.jpeg" height="125px" alt="Chodský kroj"/>
    </div>

    <!-- Třetí sloupec s galeriemi -->
    <div class="column">
        <app-kroj-galerie class="gallery-container" typ="SATEK" [soucastiKroje]="soucastiKroje"></app-kroj-galerie>
        <app-kroj-galerie class="gallery-container" typ="PANTLE" [soucastiKroje]="soucastiKroje"></app-kroj-galerie>
    </div>
</div>

<div class="button-container">
    <button pButton label="Vyhodnot" icon="pi pi-plus" class="p-button-success" (click)="vyhodnot()"></button>
</div>
